<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items list</title>
</head>
<body>
<h1>Items list</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.status}"></td>
    </tr>
</table>
</body>
</html>
